{% extends 'Home/index.html' %}

{% block content %}

<div class="col-md-12">
    <form method="post" id="PacienteNuevo" enctype="multipart/form-data">
        
        {% csrf_token %} 
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Registro de Profesional</h5>
            </div>
            <div class="card-body">
                <input type="hidden" id="id_email" name="email" maxlength="150" value="{{ form2.email.initial }}">
                <input type="hidden" id="hfValidarFoto" name="validarFoto" value="NO">
                

                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Nombres: </label><span style=" color: red">*</span>
                        {{ form2.first_name }}
                        {{ form2.first_name.errors }}
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bold">Apellidos: </label><span style=" color: red">*</span>
                        {{ form2.last_name }}
                        {{ form2.last_name.errors }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Cédula: </label><span style=" color: red">*</span>
                        {{ form.cedula }}
                        {{ form.cedula.errors }}
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bold">Email: </label><span style=" color: red">*</span>
                        {{ form2.username }}
                        <!-- {{ form2.username.errors }} -->
                    </div>
                    

                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Contraseña: </label><span style=" color: red">*</span>
                        {{ form2.password }}
                        {{ form2.password.errors }}
                    </div>
                    
                    

                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Teléfono: </label><span style=" color: red">*</span>
                        {{ form.telefono }}
                        {{ form.telefono.errors }}
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bold">Fecha de Nacimiento: </label><span style=" color: red">*</span>
                        {{ form.fecha_nacimiento }}
                        {{ form.fecha_nacimiento.errors }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Nacionalidad: </label><span style=" color: red">*</span>
                        {{ form.nacionalidad }}
                        {{ form.nacionalidad.errors }}
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bold">Auto Identificación: </label><span style=" color: red">*</span>
                        {{ form.autoidentificacion }}
                        {{ form.autoidentificacion.errors }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Formación: </label><span style=" color: red">*</span>
                        {{ form.formacion }}
                        {{ form.formacion.errors }}
                    </div>
                    <div class="col-md-6">
                        <label class="font-weight-bold">Código MSP: </label><span style=" color: red">*</span>
                        {{ form.codigoMSP }}
                        {{ form.codigoMSP.errors }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="font-weight-bold">Foto: </label><span style=" color: red">*</span>
                        {{ form.foto }}
                        {{ form.foto.errors }}
                    </div>
                    <div class="col-md-6">
                        <img src="{{profesional.foto}}" alt="" width="150px" class="rounded-circle">
                    </div>
                    
                </div>

                <div class="row form-group">
                    
                    
                </div>
                
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-primary"   type="submit">
                    Guardar
                </button>
            </div>
        </div>


    </form>
</div>
{% for message in messages %}
    <div class="alert {{message.tags}}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% endblock %}

{% block scripts %}


<script type="text/javascript">
   
    $(document).ready(function() {
        setInterval(function(){

            if($('#id_foto').val() == ''){
                $('#hfValidarFoto').val('NO');
            }else{
                $('#hfValidarFoto').val('SI');
            }

            
        }, 100);
        $('.SoloLetras').keypress(function(e) {
            if(e.which < 97 /* a */ || e.which > 122 /* z */) {
                e.preventDefault();
            }
        });
        $('#id_cedula').on('input', function () { 
            this.value = this.value.replace(/[^0-9]/g,'');
        });
        $('#id_telefono').on('input', function () { 
            this.value = this.value.replace(/[^0-9]/g,'');
        });
        $('#id_username').keyup(function() {
            var email = this.value;
            $('#id_email').val(email);
        });

        //$('#id_foto').removeAttr("required");
     });
     
    
 </script>
 {% endblock %}