{% extends 'Home/index.html' %}
{% load static %}
{% block content %}
<style>
    .sweet-alert h2 {
        font-size: 1.2rem;
    }

    .sweet-alert .text-muted {
        font-size: 1.1rem;
    }

    .sa-button-container .cancel {
        font-size: 1rem;
    }

    .sa-confirm-button-container .confirm {
        font-size: 1rem;
    }
</style>
<link href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<div class="col-md-12" style="text-align: right;">
    <a href="{% url 'Profesional:registrarProfesional' %}" class="btn btn-primary"><i class="far fa-user"></i> Registrar
        Profesional</a>

</div>
<div class="col-md-12 mt-3">

    <div class="card">
        <div class="card-body">
            {% if profesional %}
            <table class="table table-bordered" id="tbProfesionales">
                <thead>
                    <tr>
                        <th style="display: none;">id</th>
                        <th style="background: #9ac10f; color: #fff;">Nombres</th>
                        <th style="background: #9ac10f; color: #fff;">Apellidos</th>
                        <th style="background: #9ac10f; color: #fff;">Cédula</th>

                        <th style="background: #9ac10f; color: #fff;">Teléfono</th>
                        <th style="background: #9ac10f; color: #fff;">Código MSP</th>
                        <th style="background: #9ac10f; color: #fff;">Editar</th>
                        <th style="background: #9ac10f; color: #fff;">Eliminar</th>
                    </tr>

                </thead>
                <tbody>
                    {% for i in profesional %}
                    <tr>
                        <td style="display: none;">{{i.id}}</td>
                        <td><a href="#">{{i.user.first_name}}</a></td>
                        <td>{{i.user.last_name}}</td>
                        <td>{{i.cedula}}</td>
                        <td>{{i.telefono}}</td>
                        <td>{{i.codigoMSP}}</td>

                        <td>
                            {% if i.user.is_active == True %}
                            <a href="{% url 'Profesional:actualizarProfesional' i.id  %}"
                                class="btn btn-primary">Editar</a>
                            {% else %}
                            <button type="button" class="btn btn-secondary">Editar</button>
                            {% endif %}
                        </td>
                        <td><button type="button" class="btn btn-success"
                                onclick="abrirmodalEstado('{{i.user.id}}','{{i.user.is_active}}')">Estado</a></td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <h4>No existen profesionales registrados</h4>
            {% endif %}
        </div>
    </div>
</div>


<div class="modal fade" id="modalCambioEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="hfIdUsuario">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Estado:</label>
                    </div>
                    <div class="col-md-8">
                        <select id="ddlEstadoUser" class="form-control">
                            <option value="">---Seleccione---</option>
                            <option value="True">Activo</option>
                            <option value="False">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="validarCampos()">Actualizar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/jquery.dataTables4.min.js' %} "></script>
<script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %} "></script>


<script type="text/javascript">

    $(document).ready(function () {

        $('#tbProfesionales').DataTable({
            order: [[ 0, "desc" ]],
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }
        });
    });

    function abrirmodalEstado(idUsuario, Estado) {

        $('#hfIdUsuario').val(idUsuario);
        $('#ddlEstadoUser').val(Estado);
        $('#modalCambioEstado').modal('show');
    }

    function validarCampos() {
        if ($('#ddlEstadoUser').val() == '') {
            alert('Seleccione un estado');
            retur;
        }

        actualizarEstado();
    }

    function actualizarEstado() {
        var idUsuario = $('#hfIdUsuario').val();
        var estado = $('#ddlEstadoUser').val();
        $.ajax({
            type: 'POST',
            url: '/profesional/actualizarestado/',
            data: {
                idUsuario: idUsuario,
                estado: estado,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                location.reload();
                console.log("actualizado");

            },
            error: function (data) {
                console.log(data);
            }
        });

    }
</script>
{% endblock %}