{% extends 'Home/Home.html' %}

{% load static %}

    {% block  contenerdor %}
    <style>
        .titulo{
            color: #09accc;
        }
        .list-group-item{
            background-color:#fff0;        
            border: 0px;
            border-bottom: 1px solid rgba(0,0,0,.125) ;

        }

        .diaAtencion{
            font-weight: 700;
            text-transform: uppercase;
        }
        .horario{
            font-weight: 300;
            
        }
        #imagenCentral .row{
            padding: 1rem 0rem;
        }
    </style>
	<!-- Hero section -->
    <div class="col-md-12" style="background:rgb(223, 223, 223);padding-top: 1.2rem;">
        <div class="row">
            <div class="col-md-5" >
                <div class="card" id="imagenCentral" style="background:rgba(255,255,255,.75);">
                    
                    <div class="card-body">
                        <h1 class="card-title titulo" >Horarios de atención</h1>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Lunes</div>
                            <div class="col md-4 horario">06:00 - 19:30</div>
                            <div class="col md-4"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Martes</div>
                            <div class="col md-4 horario">06:00 - 19:30</div>
                            <div class="col md-4"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Miércoles</div>
                            <div class="col md-4 horario">06:00 - 19:30</div>
                            <div class="col md-4"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Jueves</div>
                            <div class="col md-4 horario">06:00 - 19:30</div>
                            <div class="col md-4"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Viernes</div>
                            <div class="col md-4 horario">06:00 - 19:30</div>
                            <div class="col md-4"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Sábado</div>
                            <div class="col md-4 horario">08:00 - 15:00</div>
                            <div class="col md-4"></div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col md-4 diaAtencion">Domingo</div>
                            <div class="col md-4 horario">08:00 - 15:00</div>
                            <div class="col md-4"></div>
                        </div>
                        
                    </div>
                  </div>
            
            </div>
    
            <div class="col-md-7">
                <img class="rounded" src="{% static 'assets/Comercial/img/doctor_2.jpg' %}" alt="" style="width: 100%; height: min-content;">
            </div>
        </div>
        
    </div>
	
	<!-- Hero section end -->

    {%  endblock %}