{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Centro de Rehabilitación Física y Deportiva FISIOATLAS</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">
  {% block newCSS %}
    <style>
      .bg-gradient-primary{
        background-color: red;
        background-image:linear-gradient(180deg,#09accc 10%,#09accc 100%) ;
      }
      .sidebar .nav-item .nav-link span{
        font-size: 1.2 rem !important;
      }
      .btn-primary , .page-item.active .page-link {
          color: #fff !important;
          background-color: #09ACCB !important;
          border-color: #869a9e !important;
      }

    </style>
  {% endblock %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'indexHome:HomePrincipal' %}">
        
        <img src="{% static 'assets/img/logoFisioAtlas.png' %}" alt="" style="width: 70%; ">
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/accounts/profile/">
          <i class="fas fa-house-user"></i>
          <span>Mi Perfil</span>
        </a>  
      </li>
      {% if  user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'Profesional:listarProfesional' %}">
            <i class="fas fa-users"></i>
            <span>Profesionales</span>
          </a>
        </li>
      {% endif %}
      

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'Paciente:listarPaciente' %}">
          <i class="fas fa-users"></i>
          <span>Pacientes</span>
        </a>
      </li>
      
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'Paciente:listarSeguimiento' %}" >
          <i class="fas fa-fw fa-wrench"></i>
          <span>Seguimiento</span>
        </a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'Paciente:listarReportes' %}" >
          <i class="fas fa-list-alt"></i>
          <span>Reportes</span>
        </a>
      </li>

    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            

            

            

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.first_name}} {{user.last_name}}</span>
                <img class="img-profile rounded-circle" style="object-fit: fill;" src="{{Profesional.foto}}">
              </a>

              
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesión
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {% block content %}

          
        <div class="container-fluid mt-2">

          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow" style="height:100%;">
                <div class="card-body" style="text-align: center;">
                  
                  
                  <img src="{{Profesional.foto}}" style="object-fit: fill;border-radius: 40px;margin-top: 2.5rem;" class="" alt="" width="300" height="300" ></br>
                  
                  
                  <h5 class="m-0 font-weight-bold text-primary mt-5">{{user.first_name}} {{user.last_name}}</h5>
                </div>
              </div>
            </div>
            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow " style="height: 100%;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Datos del profesional</h6>
                  
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <!-- <div class="row" >
                    
                    <div class="col-md-12 text-right">
                      <a href="{% url 'Profesional:actualizarProfesional' user.id  %}">Editar perfil</a>
                    </div>
                    
                  </div> -->
                </br>
                  <div class="row form-group">
                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Cédula:&nbsp;</label></br>
                      <label for="">{{ Profesional.cedula }}</label>

                    </div>

                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Email:&nbsp;</label></br>
                      <label for="">{{ user.email }}</label>
                    </div>
                    
                  </div>

                  <div class="row form-group">
                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Teléfono:&nbsp;</label></br>
                      <label for="">{{ Profesional.telefono }}</label>
                    </div>

                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Fecha de Nacimiento:&nbsp;</label></br>
                      <label for="">{{ Profesional.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}</label>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Nacionalidad:&nbsp;</label></br>
                      <label for="">{{ Profesional.nacionalidad }}</label>
                    </div>

                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Auto Identificación:&nbsp;</label></br>
                      <label for="">{{ Profesional.autoidentificacion }}</label>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Formación:&nbsp;</label></br>
                      <label for="">{{ Profesional.formacion }}</label>
                    </div>

                    <div class="col-md-6">
                      <label for="" class="font-weight-bold">Código MSP:&nbsp;</label></br>
                      <label for="">{{ Profesional.codigoMSP }}</label>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            
          </div>

          

        </div>
        {% endblock %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %} "></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'assets/js/sb-admin-2.min.js' %} "></script>
  <script src="{% static 'assets/js/moment.min.js' %} "></script>
 

  <!-- Page level plugins -->
  <!-- <script src="{% static 'assets/vendor/chart.js/Chart.min.js' %} "></script> -->

  <!-- Page level custom scripts -->
  <!-- <script src="{% static 'assets/js/demo/chart-area-demo.js' %} "></script>
  <script src="{% static 'assets/js/demo/chart-pie-demo.js' %} "></script> -->
  {% block scripts %}
  {% endblock %}
</body>

</html>
