
{% extends 'Home/Home.html' %}
{% load static %}
    {% block  contenerdor %}
	<!-- Hero section -->

	<div class="container mt-2">
		
				<div class="row mt-5" style="border-bottom: 1px solid #e6e6e6!important;">
					<div class="col-md-12">
						<h4>Centro de Fisioterapia</h4>
					</div>
					
				</div>
				<div class="row mt-3">
					<div class="col-md-8" style="text-align: justify;">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque natus odit possimus laudantium quasi vel quae vitae, 
							obcaecati dolor aperiam aspernatur illo excepturi, earum iusto! Porro nihil doloribus iusto placeat!
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque natus odit possimus laudantium quasi vel quae vitae, 
							obcaecati dolor aperiam aspernatur illo excepturi, earum iusto! Porro nihil doloribus iusto placeat!
						</p>
					</div>
					<div class="col-md-4">
						<img src="https://i.pinimg.com/originals/f4/60/3d/f4603d7760209c0f9a70a431b8b904e3.jpg" alt="" style="width: 100%;">
					</div>

				</div>
				<div class="row " style="border-bottom: 1px solid #e6e6e6!important;">
					<div class="col-md-12">
						<h4>Profesional</h4>
					</div>
					
				</div>
				<div class="row mt-3">
					
					<div class="col-md-4">
						<img src="{% static 'assets/img/fisio.jpg' %}" alt="" style="width: 100%;">
					</div>
					<div class="col-md-8" style="text-align: justify;">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque natus odit possimus laudantium quasi vel quae vitae, 
							obcaecati dolor aperiam aspernatur illo excepturi, earum iusto! Porro nihil doloribus iusto placeat!
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque natus odit possimus laudantium quasi vel quae vitae, 
							obcaecati dolor aperiam aspernatur illo excepturi, earum iusto! Porro nihil doloribus iusto placeat!
						</p>
					</div>
				</div>
			
	</div>
	<!-- Hero section end -->

    {%  endblock %}

