
{% extends 'Home/Home.html' %}
{% load static %}
    {% block  contenerdor %}
	<!-- Hero section -->

	<div class="container mt-2">

				<div class="row mt-5" >
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12 " style="border-bottom: 1px solid #e6e6e6!important;">
								<h4>Misión</h4>
							</div>
							<div class="col md-12 mt-2" style="text-align: justify;">
								<p>Ser un consultorio reconocido en la ciudad de Latacunga brindando una excelente atención y ayudando a aliviar dolores físicos de cada uno de los pacientes.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12" style="border-bottom: 1px solid #e6e6e6!important;">
								<h4>Visión</h4>
							</div>
							<div class="col md-12 mt-2" style="text-align: justify;">
								<p>En 5 años consolidarse en una clínica que brinde atención a múltiples áreas médicas, teniendo como objetivo principal la rehabilitación física y deportiva.</p>
							</div>
						</div>
					</div>

				</div>

				<div class="row mt-1" style="border-bottom: 1px solid #e6e6e6!important;">
					<div class="col-md-12">
						<h4>Centro de Fisioterapia</h4>
					</div>
					
				</div>
				<div class="row mt-3">
					<div class="col-md-8" style="text-align: justify;">
						<p>FISIOATLAS, es un consultorio de fisioterapia que nace por iniciativa de ayudar a las personas y deseos de crecimiento personal y profesional de su principal socio fundador, el Lic. Henry Santiago Chanatasig Meza, profesional en el área de la ciencia de la salud que ofrece un tratamiento terapéutico y de rehabilitación no farmacológica para diagnosticar, prevenir y tratar síntomas de múltiples dolencias, brindando altos estándares de seguridad, calidad y excelencia.
							<br>
							<br>
							Es así como en el año 2018 se genera el sueño de crear el Centro de Rehabilitación física y deportiva “FISIOATLAS”, el mismo que se constituye un 12 de febrero del 2019 en la ciudad de Latacunga en la Parroquia de San Buenaventura teniendo como perspectiva desde sus inicios como meta fundamental superar las exigencias de sus pacientes y las expectativas del resto de consultorios, estándares de calidad que le permitirán ser conocido a nivel nacional.
							<br>
							<br>
							Como información importante y relevante el nombre de Fisioatlas, proviene de los termino; FISIO – en honor a la profesión el ser Fisioterapeuta y ATLAS – al nombre de la primera vertebra del cuerpo y la más importante.
							<br>
							<br>
							
						</p>
					</div>
					<div class="col-md-4">
						<img class="rounded" src="{% static 'assets/Comercial/img/centro2.jpg' %}" alt="" style="width: 100%;">
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<img class="rounded" src="{% static 'assets/Comercial/img/doctor_2.jpg' %}" alt="" style="width: 100%;">
					</div>
					<div class="col-md-8" style="text-align: justify;">
						<p>
							Resumiendo, sus inicios nuestro preciado consultorio comenzó con su principal instrumento sus manos, que son hasta el día de hoy gran ayuda para el sin número de pacientes que aprecian y agradecen el trabajo realizado y han dado esperanzas y alivio a cada uno de ellos, un electro estimulador, un ultrasonido y un aceite Johnson que quedo de la finalización de su tesis, teniendo como primer paciente a su abuelito quien fue también parte de este sueño y con quien comenzó este gran trabajo.
							<br>
							<br>
							El consultorio continuo en proceso de crecimiento, desarrollo y aprendizaje cada día dedicándose a la rama de recuperación en cupping, pediatría, geriátrica, terapia deportiva, respiratoria, instrumental, traumatología, manual ortopédico, estimulación temprana y punción seca metamérica; siendo así un consultorio reconocido y recomendado por todos quienes llegan a él.
							<br>
							<br>
							Hasta el día de hoy este sueño se mantiene latente y crece cada día con el apoyo de las personas que buscan una ayuda a sus problemas de dolor encontrando en FisioAtlas su recuperación.
							
						</p>
					</div>
					

				</div>



				<div class="row mt-5" style="border-bottom: 1px solid #e6e6e6!important;">
					<div class="col-md-12">
						<h4>Profesional</h4>
					</div>
					
				</div>
				<div class="row mt-3 ">
					
					<div class="col-md-4">
						<img class="rounded"  src="{% static 'assets/img/fisio.jpg' %}" alt="" style="width: 100%;">
					</div>
					<div class="col-md-8" style="text-align: justify;">
						<div class="row">
							<p class="font-weight-bold">Lic. Henry Santiago Chanatasig Meza</p>
						</div>
						<div class="row">
							<p class="font-weight-bold">Fisioterapeuta.</p>
						</div>
						<div class="row">
							<p class="font-weight-bold">Experto en Rehabilitación Física.</p>
						</div>
					</div>
				</div>
			
	</div>
	<!-- Hero section end -->

    {%  endblock %}

