{% extends 'Home/Home.html' %}
{% load static %}
{% block header %}
<style>
  @media (max-width: 768px) {
    #main {
      margin-top: 80px;
    }
  }
</style>
<header id="header" class="fixed-top ">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="{% url 'indexHome:HomePrincipal' %}"><span>FISIOATLAS</span></a></h1>
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li><a href="{% url 'indexHome:HomePrincipal' %}">Home</a></li>
        <li><a href="{% url 'indexHome:HomeNosotros' %}">Nosotros</a></li>
        <li class="active"><a href="{% url 'indexHome:HomeServicios' %}">Servicios</a></li>
        <li><a href="{% url 'indexHome:HomeContacto' %}">Contactos</a></li>
        <li>
          {% if user.id %}
          <a href="/accounts/profile/" class="btnSession">{{user.first_name|slice:"0:7"}}
            {{user.last_name|slice:"0:7"}}</a>
          {% else %}
          <a href="/accounts/profile/" class="btnSession">Iniciar Sesión</a>
          {% endif %}


        </li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header>

{% endblock %}
{% block contenerdor %}
<main id="main">

  <!-- ======= About Us Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Servicios</h2>
        <ol>
          <li><a href="{% url 'indexHome:HomePrincipal' %}">Home</a></li>
          <li>Servicios</li>
        </ol>
      </div>

    </div>
  </section>
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center p-5">
          <div class="icon-box">
            <div class="icon"><i class="bx bxs-band-aid bx-tada bx-md"></i></div>
            <h4 class="title"><a href="">Nuestros tratamientos especializados </a></h4>
            <p class="description">Somos un centro de Fisioterapia que ofrece una solución eficaz, poco invasiva y no
              farmacológica, a una gran variedad de dolencias físicas, que van desde las más leves y superficiales,
              hasta las más incapacitantes y crónicas. Ofrecemos los siguientes tratamientos esenciales para que te
              puedas recuperar: </p>
          </div>
        </div>
      </div>
  </section>
  <section class="service-details">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/mantrau.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Traumatología</a></h5>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/geriatrica.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Geriátrica</a></h5>
              <!-- <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/deportiva2.png' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Deportiva</a></h5>
              <!-- <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/reumatologica2.png' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Reumatológica</a></h5>
              <!-- <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>


        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/estimulacionTem.png' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Pediátrica</a></h5>
              <!-- <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/traumatologia3.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Manual ortopédica </a></h5>
              <!-- <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>




</main>
<!-- Hero section end -->

{% endblock %}