{% extends 'Home/Home.html' %}
{% load static %}
    {% block  contenerdor %}
	<!-- Hero section -->
  <style>
    .card-img-top{
      height: 150px !important;
      object-fit: contain;
    }
    .list-group-item{
      padding: .75rem 0.25rem !important;
      font-size: 11px !important;
      text-align: justify !important;
    }
  </style>
	<div class="container mt-2">
        <div class="card">
            <div class="card-header">
                Servicios
            </div>
            <div class="card-body">
              
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-deck">
                            <div class="card">
                             
                              <img class="card-img-top rounded" src="{% static 'assets/Comercial/img/traumatologia.png' %}" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Traumatología </h5>
                                <ul class="list-group">
                                  <li class="list-group-item">Columna vertebral: cervicalgias, dorsalgias, lumbalgias, ciatalgia, hernias discales.</li>
                                  <li class="list-group-item">Tratamientos músculo tendinoso: contracturas, tendinitis, rotura de fibras.</li>
                                  <li class="list-group-item">Tratamientos pre y post operatorios: recuperación funcional.</li>
                                  <li class="list-group-item">Post fracturas, luxaciones, contusiones, etc.</li>
                                  <li class="list-group-item">Síndrome del túnel carpiano (mano).</li>
                                  <li class="list-group-item">Hombro doloroso.</li>
                                  <li class="list-group-item">Epicondilitis – Epitrocleitis</li>
                                  <li class="list-group-item">Fascitis plantar.</li>
                                  <li class="list-group-item">Bursitis</li>
                                  <li class="list-group-item">Lesiones ligamentosas: esguinces.</li>
                                  <li class="list-group-item">Reincorporación a la práctica deportiva</li>

                                  
                                </ul>
                                
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>



                            <div class="card">
                              <img class="card-img-top" src="{% static 'assets/img/logoFisioAtlas.png' %}" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>


                            <div class="card">
                              <img class="card-img-top" src="{% static 'assets/img/logoFisioAtlas.png' %}" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md 4"></div>
                </div>
            
            
            </div>
          </div>
    
    </div>
	<!-- Hero section end -->

    {%  endblock %}