{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %} ">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->


	
	<link href="{% static 'assets/css/util.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						Acceda a su cuenta
					</span>
					
					
					<div class="wrap-input100 validate-input" style="border:0px solid #e6e6e6">
						<span class="">Correo:</span>
						<input class="form-control" type="text" name="username" id="username">
						<span class="focus-input100"></span>
						
					</div>
					
					
					<div class="wrap-input100 validate-input" style="border:0px solid #e6e6e6">
						<span class="">Contraseña:</span>
						<input class="form-control" type="password" name="password" id="password">
						
						
					</div>

					<!-- <div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Recordar nombre de usuario
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Olvidó su nombre de usuario o contraseña?
							</a>
						</div>
					</div> -->
			

					<div class="container-login100-form-btn " style="margin-top: 40px;">
						<button class="login100-form-btn"  type="submit" style="width: 50%;">
							Acceder
						</button>
					</div>
					
					<!-- <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> -->
				</form>

				<div class="login100-more" style="background-image: url('/static/assets/img/imgLoggin.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %} "></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!--===============================================================================================-->
	<!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
	
	<script src="{% static 'assets/bootstrap/js/popper.js' %} "></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>




</body>
</html>